{% extends "layout.html" %}
{% set active_page = "info" %}
{% block title %}About the Data{% endblock %}
{% block heading %}About the Skyscraper Data{% endblock %}
{% block body %}
<p>This data set gives information out about all the skyscrapers across the United States. It tells you where the skyscraper is located, 
what type of skyscraper it is, the number of floors it has, when it was completed, what the name of the tower is, wether it is completed
or not and even what material was used to build it. This data set was created by Austin Cory Bart in 2016. He created this data set for
anyone wondering about skyscrapers.</p>
{% endblock %}
